/*---------------Font------------------*/
body{
    font-family: 'Poppins', sans-serif;
   
    
    
}
/*------------------------Top body style------------------------------*/
h1{
    font-size: 40px;
    color: white;
}
p{
    color: white;
}
.fexible-container{
    display: flex;
    background-color:black;
    width: 800px;
    height:584px;
    padding: 30px;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 140px;
    }

.half-width{
    width: 50%;
    padding-left: 5%;
    
    padding-right: 100px;
}
.button{
    text-decoration: none;
    background-color: red;
    color: white;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 5px;
}
/*---------------------view all------------------------------*/
.View-button {
    text-decoration: none;
    background-color: red;
    color: white;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 5px;
    position: relative;
    margin-left: 600px;
    margin-top: 70px;
}
.visibility{
    visibility: hidden;
}
/*-----------------------------view all finis-------------------*/

.half-width img{
    width:90%;
   
}
.img-size{
    width: 581px;
    height: 613px;
}
.field:hover .img-size{
    transform:translateX(200px);
    transition:top right;
}
/*-------------------------------------second update button-----------------------*/

.update-button{
    
    border: 2px solid black;
    width:200px;
    height:200px;
    margin-left:170px;
    margin-right: 140px;
    margin-top:12px ;
    background-color: black;
}
.update-button a{
    text-decoration: none;
    color:black;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border:2px solid white;
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    height: 40px;
}
.update-button .red{
    background-color: red;
    border-color: red;
    color: white;
    

}
/*-----------------------------------players and countries-------------------------------------*/
.blog{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 170px;
    
}
.vs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1px;
    gap:20px;
    margin-right: 100px;
    
}
.players-play img{
    width:250px;
    height:200px;
    margin-top: 10px;
}

.country-vs img {
    width: 90px;
    height: 90px;
    
}
.country-vs{
    display: flex;
}

.trans-button{
    margin-left: 20px;
    margin-top: 20px;
}
.black{
    color: black;
    font-size: 1.5em;
    margin-left: 20px;
}
.fa-clock{
    margin-left: 20px;
}
.fa-comment-dots{
    margin-left: 40px;
}
.players, .countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 740px;
    grid-column-gap:10px;

}

/*----------------------------------Footer body------------------------------*/
.footer-h1{
    color:white
}
.footer-part{
    padding:100px 100px;
    background-color: black;
    margin-top: 170px;
    text-align: center;
}
hr{
    color: gray;
    width: 70%;

}
.service{
    
    color: white;
    display: inline-flex;
    gap:40px;
    
    
}
.social{
    color: white;
    row-gap: 100%;
}
/*----------------------second web page--------------------------------*/
.color{
    color: black;
    text-align: center;
    margin-top: 2px;
}
@media only screen and (max-width:680px) {
    .fexible-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: max-content;
        
        
    }
    .blog{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 350px;
        margin-top: 5px;
        
    }
    .update-button{
        background-color: white;
        border: none;
        margin-top: 5px;
        
    }
    .none{
        display: none;
    }
    .players {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 145px;
        margin-top: 20px;

    }
    .players-play img {
         width: 450px;
         height: 200px;
        margin-top: 10px;
        margin-right: 100px;
    }
    .service {
        display: block;
        text-align: center;
    }
    .footer-part{
        
        width: 1075px;
        height: 412px;
        margin-top:20px;
       
    }
}
@media only screen and (min-width:688px) and (max-width:992px) {
    .blog {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            margin-left: 350px;
            margin-top: 5px;
    
        }
    .players {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-left: 145px;
            margin-top: 10px;
    
        }
    .none{
        display: none;
    }
    .update-button{
        background-color: white;
        border:none;
        margin-top: 5px;
        display: flex;
        gap: 100px;

}
.visibility{
    visibility:visible;
}
.footer-part{
    margin-top:0px;
 
    
    width: 834px;
    height: 345px;
    left: 0px;
}
}